/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

#contenedor {
    width: 90%;
    margin: auto;
}

/* Encabezado */
#encabezado {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menú */
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #34495e;
}

#menu ul li {
    flex: 1;
}

#menu ul li a {
    display: block;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    background: #1abc9c;
}

/* Principal */
#principal {
    display: flex;
    margin-top: 20px;
}

/* Noticia principal */
#noticia-principal {
    background: white;
    padding: 15px;
    flex: 2;
    margin-right: 10px;
    border-radius: 5px;
}

/* Noticias secundarias */
#noticias-secundarias {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noticia {
    background: white;
    padding: 10px;
    border-radius: 5px;
}

/* Barra lateral */
#barra-lateral {
    background: #ecf0f1;
    padding: 15px;
    flex: 1;
    margin-left: 10px;
    border-radius: 5px;
}

/* Pie */
#pie {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}
