body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

.header{
background:#1e3a5f;
padding:15px;
text-align:center;
}

.contenedor{
max-width:300px;
margin:auto;
}

.pantalla{
background:black;
padding:20px;
font-size:30px;
text-align:right;
margin:10px;
}

.calculadora{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
padding:10px;
}

button{
padding:15px;
font-size:18px;
background:#1e3a5f;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#2563eb;
}

#historial{
background:#111;
padding:10px;
margin:10px;
max-height:150px;
overflow:auto;
}

.footer{
background:black;
text-align:center;
padding:10px;
}